In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time 
import pandas as pd
from selenium.webdriver.support.ui import Select

# Problen-1- Scrape the dtls of most viewed videos on YouTube from Wikipedia

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [16]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
rank=[]
name=[]
artist=[]
date=[]
views=[]
r_tags=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
for i in r_tags:
    dataset=i.text
    rank.append(dataset)

n_tags=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in n_tags:
    dataset=i.text
    name.append(dataset)
    
a_tags=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in a_tags:
    dataset=i.text
    artist.append(dataset)

d_tags=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")
for i in d_tags:
    dataset=i.text
    date.append(dataset)

v_tags=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in v_tags:
    dataset=i.text
    views.append(dataset)

In [15]:
Youtube=pd.DataFrame({})
Youtube['Rank']=rank
Youtube['Artist']=artist
Youtube['Name']=name
Youtube['Date']=date
Youtube['Views_In_Billions']=views
Youtube

,Rank,Artist,Name,Date,Views_In_Billions
0,1.,Pinkfong Kids' Songs & Stories,"""Baby Shark Dance""[28]","June 17, 2016",7.39
1,2.,Luis Fonsi featuring Daddy Yankee,"""Despacito""[30]","January 12, 2017",7.09
2,3.,Ed Sheeran,"""Shape of You""[31]","January 30, 2017",5.10
3,4.,Wiz Khalifa featuring Charlie Puth,"""See You Again""[32]","April 6, 2015",4.85
4,5.,Get Movies,"""Masha and the Bear – Recipe for Disaster""[35]","January 31, 2012",4.38
5,6.,LooLoo Kids,"""Johny Johny Yes Papa""[36]","October 8, 2016",4.37
6,7.,Mark Ronson featuring Bruno Mars,"""Uptown Funk""[37]","November 19, 2014",4.03
7,8.,Psy,"""Gangnam Style""[38]","July 15, 2012",3.88
8,9.,Miroshka TV,"""Learning Colors – Colorful Eggs on a Farm""[40]","February 27, 2018",3.66
9,10.,Justin Bieber,"""Sorry""[41]","October 22, 2015",3.37
10,11.,Cocomelon – Nursery Rhymes,"""Bath Song""[42]","May 2, 2018",3.34
11,12.,Maroon 5,"""Sugar""[43]","January 14, 2015",3.34
12,13.,ChuChu TV,"""Phonics Song with Two Words""[44]","March 6, 2014",3.30
13,14.,Katy Perry,"""Roar""[45]","September 5, 2013",3.22
14,15.,Ed Sheeran,"""Thinking Out Loud""[46]","October 7, 2014",3.13
15,16.,OneRepublic,"""Counting Stars""[47]","May 31, 2013",3.13
16,17.,Taylor Swift,"""Shake It Off""[48]","August 18, 2014",2.99
17,18.,El Chombo featuring Cutty Ranks,"""Dame Tu Cosita""[49]","April 5, 2018",2.94
18,19.,Enrique Iglesias featuring Descemer Bueno and ...,"""Bailando""[50]","April 11, 2014",2.94
19,20.,Major Lazer and DJ Snake featuring MØ,"""Lean On""[51]","March 22, 2015",2.93
20,21.,Alan Walker,"""Faded""[52]","December 3, 2015",2.92
21,22.,Katy Perry featuring Juicy J,"""Dark Horse""[53]","February 20, 2014",2.92
22,23.,Maroon 5 featuring Cardi B,"""Girls Like You""[54]","May 31, 2018",2.91
23,24.,Passenger,"""Let Her Go""[55]","July 25, 2012",2.85
24,25.,J Balvin and Willy William,"""Mi Gente""[56]","June 29, 2017",2.82
25,26.,Adele,"""Hello""[57]","October 22, 2015",2.75
26,27.,Taylor Swift,"""Blank Space""[58]","November 10, 2014",2.68
27,28.,Shakira featuring Freshlyground,"""Waka Waka (This Time for Africa)""[59]","June 4, 2010",2.66
28,29.,Ed Sheeran,"""Perfect""[60]","November 9, 2017",2.65
29,30.,Shakira featuring Maluma,"""Chantaje""[61]","November 18, 2016",2.60

# Problem 3- Scrape the details of selenium exception from guru99.com.

In [17]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.guru99.com/'
driver.get(url)
Exception_Name = []
Description = []

In [19]:
Task1 = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a[@title='Selenium']")
Task1.click()

Task2 = driver.find_element_by_xpath("//td[@class='responsivetable']/a[@title='Selenium Exception Handling (Common Exceptions List)']/strong")
Task2.click()

Task= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1] /strong")

for i in Task:
    data = i.text
    Exception_Name.append(data)

Exception_Name1 = pd.DataFrame(Exception_Name)
Exception_Name2= Exception_Name1.rename(columns = { 0:'Exception Name'})

Exception_Name3 =Exception_Name2.iloc[1:42]

Task = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2] /strong")

for i in Task:
    data = i.text
    Description.append(data)

Description1 = pd.DataFrame(Description)
Description2= Description1.rename(columns = { 0:'Description'})

Description3 = Description2.iloc[1:42]

Selenium_Exception = pd.concat([Exception_Name3,Description3 ] , axis=1)
Selenium_Exception

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class='menu']/li[3]/a[@title='Selenium']"}
  (Session info: chrome=87.0.4280.88)

# Probelm 4- Scrape the details of State-wise GDP of India from statisticstime.com.

In [4]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='http://statisticstimes.com/economy/gdp-of-indian-states.php'
driver.get(url)

We have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [5]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

r_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
for i in r_tags:
    dataset=i.text
    rank.append(dataset)

s_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in s_tags:
    dataset=i.text
    state.append(dataset)

g1_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in g1_tags:
    dataset=i.text
    gsdp1.append(dataset)

g2_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in g2_tags:
    dataset=i.text
    gsdp2.append(dataset)

sh_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in sh_tags:
    dataset=i.text
    share.append(dataset)

gdp_tags=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp_tags:
    dataset=i.text
    gdp.append(dataset)

GDP_Indian_States=pd.DataFrame({})
GDP_Indian_States['Rank']=rank
GDP_Indian_States['State_Name']=state
GDP_Indian_States['GSDP(18-19)']=gsdp1
GDP_Indian_States['GSDP(17-18)']=gsdp2
GDP_Indian_States['Share(2017)']=share
GDP_Indian_States['GDP($ Billion)']=gdp
GDP_Indian_States

,Rank,State_Name,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ Billion)
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,2,Tamil Nadu,"1,664,159","1,461,841",8.55%,226.827
2,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
3,4,Karnataka,"1,535,224","1,350,257",7.90%,209.513
4,5,Gujarat,-,"1,314,680",7.69%,203.993
5,6,West Bengal,"1,177,586","999,585",5.85%,155.101
6,7,Rajasthan,"929,124","835,558",4.89%,129.650
7,8,Andhra Pradesh,"933,402","809,547",4.74%,125.614
8,9,Telangana,"865,688","753,811",4.41%,116.965
9,10,Madhya Pradesh,"809,327","728,242",4.26%,112.998
10,11,Kerala,-,"700,532",4.10%,108.698
11,12,Delhi,"779,652","690,098",4.04%,107.079
12,13,Haryana,"707,126","626,054",3.66%,97.142
13,14,Bihar,"557,490","484,740",2.84%,75.215
14,15,Punjab,"521,861","479,141",2.80%,74.346
15,16,Odisha,"485,376","436,374",2.55%,67.710
16,17,Assam,-,"288,494",1.69%,44.764
17,18,Chhattisgarh,"311,660","284,194",1.66%,44.097
18,19,Jharkhand,"307,581","276,243",1.62%,42.863
19,20,Uttarakhand,"245,895","222,836",1.30%,34.576
20,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
21,22,Jammu & Kashmir,-,"138,488",0.81%,21.489
22,23,Goa,"77,172","70,493",0.41%,10.938
23,24,Tripura,-,"46,133",0.27%,7.158
24,25,Chandigarh,-,"38,806",0.23%,6.021
25,26,Puducherry,"36,656","32,962",0.19%,5.115
26,27,Meghalaya,-,"30,790",0.18%,4.778
27,28,Nagaland,-,"24,281",0.14%,3.768
28,29,Manipur,-,"23,968",0.14%,3.719
29,30,Sikkim,"26,786","23,495",0.14%,3.646
30,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
31,32,Mizoram,-,"19,457",0.11%,3.019
32,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221

# Problem 6- Scrape the details of top 100 songs on billiboard.com.

In [21]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.billboard.com/charts/hot-100'
driver.get(url)

Song=[]
Artist=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_On_Board=[]

# lets scrap the data from the server
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    so_song=i.text
    Song.append(so_song)
    S=pd.DataFrame(Song)
    S=S.rename({0: 'Song'},axis=1)
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    ar_song=i.text
    Artist.append(ar_song)
    A=pd.DataFrame(Artist)
    A=A.rename({0: 'Artist'},axis=1)
lwr=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]")
for i in lwr:
    lw_song=i.text
    Last_Week_Rank.append(lw_song)
    L=pd.DataFrame(Last_Week_Rank)
    L=L.rename({0: 'Last_Week_Rank'},axis=1)
pr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    pr_song=i.text
    Peak_Rank.append(pr_song)
    P=pd.DataFrame(Peak_Rank)
    P=P.rename({0: 'Peak_Rank'},axis=1)   
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    w_song=i.text
    Weeks_On_Board.append(w_song)
    W=pd.DataFrame(Weeks_On_Board)
    W=W.rename({0: 'Weeks_On_Board'},axis=1)   
#Lets create a table of top 100 movies data
movies=pd.concat([S,A,L,P,W] , axis=1)
movies

,Song,Artist,Last_Week_Rank,Peak_Rank,Weeks_On_Board
0,Mood,24kGoldn Featuring iann dior,1,1,17
1,All I Want For Christmas Is You,Mariah Carey,14,1,40
2,Positions,Ariana Grande,4,1,6
3,Rockin' Around The Christmas Tree,Brenda Lee,21,2,35
4,Dakiti,Bad Bunny & Jhay Cortez,15,5,5
...,...,...,...,...,...
95,Back To The Streets,Saweetie Featuring Jhene Aiko,76,76,3
96,Martin & Gina,Polo G,61,61,18
97,Hole In The Bottle,Kelsea Ballerini,72,72,8
98,So Done,The Kid LAROI,59,59,6
99,Bichota,Karol G,97,97,2

# Problem 8 -Scrape the details of Highest selling novels.

In [23]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []

Task1 = driver.find_elements_by_xpath("//tbody/tr/td[2]")

for qt in Task1:
    qx = qt.text
    book_name.append(qx)

book_name1 =pd.DataFrame(book_name)
book_name2= book_name1.rename(columns = { 0: 'Book Name'})

Task2 = driver.find_elements_by_xpath("//tbody/tr/td[3]")

for qm in Task2:
    ql = qm.text
    author_name.append(ql)

author_name1 = pd.DataFrame(author_name)
author_name2 = author_name1.rename(columns= {0:'Author Name'})

Task3 = driver.find_elements_by_xpath("//tbody/tr/td[4]")

for wp in Task3:
    wm = wp.text
    volumes_sold.append(wm)
volumes_sold[0:5]

volumes_sold1 = pd.DataFrame(volumes_sold)
volumes_sold2 =  volumes_sold1.rename (columns ={ 0: 'Volumes Sold'})

Task4 = driver.find_elements_by_xpath("//tbody/tr/td[5]")

for ap in Task4:
    ac = ap.text
    publisher.append(ac)

publisher1 = pd.DataFrame(publisher)
publisher2 = publisher1.rename(columns = { 0 : 'Publisher'})

Task5 = driver.find_elements_by_xpath("//tbody/tr/td[6]")

for vp in Task5:
    qf = vp.text
    genre.append(qf)

genre1 = pd.DataFrame(genre)
genre2 = genre1.rename (columns = { 0: 'Genre'})

Highest_Selling_Novels = pd.concat( [book_name2 , author_name2 , volumes_sold2 , publisher2 ,genre2]  , axis = 1)
Highest_Selling_Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Problem 10- Details of Datasets from UCI machine learning repositories.

In [28]:
driver= webdriver.Chrome(r"C:\Users\arkay\Downloads\chromedriver_win32 (1)\chromedriver.exe")
url='https://archive.ics.uci.edu/'
driver.get(url)

In [29]:
tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
drp=tag.get_attribute("href")
driver.get(drp)

name=[]
datatype=[]
task=[]
attributetype=[]
instances=[]
attribute=[]
year=[]

name_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name_tags:
    dataset=i.text
    name.append(dataset)
d_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in d_tags:
    dataset=i.text
    datatype.append(dataset)
t_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in t_tags:
    dataset=i.text
    task.append(dataset)
a_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in a_tags:
    dataset=i.text
    attributetype.append(dataset)
i_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in i_tags:
    dataset=i.text
    instances.append(dataset)
na_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in na_tags:
    dataset=i.text
    attribute.append(dataset)
y_tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in y_tags:
    dataset=i.text
    year.append(dataset)

UCI_dataset=pd.DataFrame({})
UCI_dataset['Datatype']=datatype
UCI_dataset['Deafult_task']=task
UCI_dataset['Attribute']=attributetype
UCI_dataset['Instances']=instances
UCI_dataset['No_of_Attribure']=attribute
UCI_dataset['Year']=year

UCI_dataset

,Datatype,Deafult_task,Attribute,Instances,No_of_Attribure,Year
0,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...
555,,Regression,Integer,,,2020
556,Text,Classification,,2633,5,2020
557,Text,Classification,,200,2,2020
558,Multivariate,"Classification, Clustering",,13028,69,2020
559,Time-Series,Classification,Real,800,9,2020